<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JoleraONE</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/lib/chartjs/chart.min.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    <div class="main-container">
        @Html.Partial("_Sidebar")

        <main class="content">
            @RenderBody()
        </main>
    </div>
    @Html.Partial("_Footer")
    <script src="~/js/sidebar.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
